@page "/"
@inject HttpClient _HttpClient
@inject NavigationManager _NavigationManager
@inject OrderState _OrderState 

<div class="main">
    <ul class="pizza-cards">
        @if (_specials != null)
        {
            @foreach (var special in _specials)
            {
                <li style="background-image: url('@special.ImageUrl')"
                    @onclick="@(() => _OrderState.ShowConfigurePizzaDialog(special))">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@if (_OrderState.ShowingConfigureDialog)
{
    <ConfigurePizzaDialog 
        Pizza="_OrderState.ConfiguringPizza" 
        OnCancel="_OrderState.CancelConfigurePizzaDialog" 
        OnConfirm="_OrderState.ConfirmConfigurePizzaDialog">
    </ConfigurePizzaDialog>
}

<div class="sidebar">
    @if (_OrderState.Order.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your order</h2>

            @foreach (var configuredPizza in _OrderState.Order.Pizzas)
            {
                <ConfiguredPizzaItem Pizza="configuredPizza" OnRemoved="@(() => _OrderState.RemoveConfiguredPizza(configuredPizza))" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">Choose a pizza<br>to get started</div>
    }

    <div class="order-total @(_OrderState.Order.Pizzas.Any() ? "" : "hidden")">
        Total:
        <span class="total-price">@_OrderState.Order.GetFormattedTotalPrice()</span>
        <a href="checkout" class="@(_OrderState.Order.Pizzas.Count == 0 ? "btn btn-warning disabled" : "btn btn-warning")">
            Order >
        </a>
    </div>
</div>

@code 
{
    private List<PizzaSpecial> _specials;

    protected override async Task OnInitializedAsync()
    {
        _specials = await _HttpClient.GetFromJsonAsync<List<PizzaSpecial>>("specials");
    }

}